/*Header section*/

@media screen and (min-width:690px) {  /* screen display 0*/
    *,html{ 
      padding :0;
      margin: 0;
      box-sizing: border-box;
      }
    
    .responsive-nav{
    display: none;
  }
    body{
    width: 100%;
    max-height: 100%;
    background-color: white;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden ;
    }
    
    header {
    height: 100%;
    width: 100%;
    position: fixed; 
    top: 0;
    z-index: 999;
    /* background-color: hsl( 110,10%,95%); */
    }
    
    /*--Navigation bar  --*/
    nav{
    padding: 0;
    width: 100%;
    }
    nav ul{
    list-style-type: none;
    background-color: black;
    padding-left: 100px;
    }
    nav .main-div{
    display: inline-block;
    background-color:black;
    padding-top: 10px;
    padding-bottom: 20px;
    }
    nav a{
    margin-left: 70px;
    color: white;
    
    }
    nav button{
    background-color: black;
    color: white;
    border: 1px solid transparent;
    }
  .container{
    background-image: linear-gradient(90deg, hsl(0, 100%, 60%) 10%,hsl(39, 100%, 60%),hsl(60, 100%, 60%) 20px,hsl(240, 100%, 70%) 40px,hsl(120, 100%, 80%) 150px);
    height:38px;
    width:38px;
    display: flex;
    border-radius: 50%;
    margin-right: 3px;
  }   
  .circle{
    background-color: black;
    height: 31px;
    width:31px;
    border-radius: 50%;
    margin: 4px;
   }
    #logo{
    font-size: 37px;
    /* font-family: sans-serif; */
    margin:0;
    padding: 0;
    margin-right: 110px; 
    }
    #mid-nav{
    font-size: 14px;
    font-weight: bold;
    margin:0;
    padding: 3px 10px;
    
    }
    .sign-nav{
    background-color: hsl(180, 0%, 30%);
    border: 0.5px solid black;
    padding: 10px 30px;
    border-radius: 20px;
    text-align: center;
    margin:0;
    }
    .get-nav{
    border: 0.3px solid grey;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px 30px;
    margin: 0;
    
    }
    /*--style links bar  --*/
    a:link{
    text-decoration: none;
    }
    a:hover{
    color: hsl(221, 100%, 65%);
    transition-duration: 1s;
    }
    a[href="#Get Started"]:hover{
    background-color:hsl(0, 0%, 90%);
    color:black;
    transition: 1s;
    transition-timing-function: ease-in-out;
    }
    a[href="#Sign in"]:hover{
    background-color:hsl(0, 0%, 40%);
    color:white;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    }
    a[href="#payoneer"]:hover{
    color: white;
    }
    
    
    /* --style header menu bar(solution)  -- */
    
    .dropdown-content {
    width: 68%;
    height: 40%;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 18px;
    
    }
    
    .dropdown:hover .dropdown-content{
    display: block;
    }
    .grid-body1{
    grid-area: 1/1/ span 1/ span 4;
    background-color: hsl(180, 10%, 10%);
    padding: 7px;
    
    }
    .main-grid{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap:2px;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    }
    
    .grid-body2 ul li{
    text-align: left;
    }
    
    .grid-containcer > div {
    font-size: 30px;
    
    }
    .grid-body2 ul ,  .grid-body3 ul,  .grid-body4 ul,  .grid-body5 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:black;
    line-height: 10px;
    }
    .grid-body2 li ,  .grid-body3 li,  .grid-body4 li,  .grid-body5 li{
    padding-top: 15px;
    
    }
    a[href="#payo"] , a[href="#get"], a[href="#manage"] ,a[href="#pay"] ,a[href="#working"]:link{
    text-decoration: underline;
    }
                                              
    /*--style header menu bar(industries)  --*/
    .grid-container{
      border: 5px solid black;
      border-radius: 8px;
      
    }
    .dropdown-content1 {
    width: 38%;
    height: 40%;
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 17px;
    
    }
    .dropdown1:hover .dropdown-content1 {
    display: block;
    }
    .main-grid1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:2px;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    }
    
    
    /*--style header menu bar(Resourses)  --*/
    .dropdown-content2 {
    width: 39%;
    height: 40%;
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 17px;
    }
    
    .dropdown2:hover .dropdown-content2 {display: block;}
    
    .main-grid2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:2px;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    }
    
    /*--style header menu bar(About)  --*/
    
    .dropdown-content3 {
    width: 39%;
    height: 40%;
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 17px;
    }
    
    .dropdown3:hover .dropdown-content3 {display: block;}
    
    .main-grid3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:2px;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    }
    
    /*--style header menu bar(Enterprise)  --*/
    
    .dropdown-content4 {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: 45px;
    background-color: white;
    color: black;
    padding: 5px;
    }
    .dropdown4:hover .dropdown-content4 {
    display: block;
    
    }
    
    /*--style header menu bar(sign in)  --*/
    
    .dropdown-content5 {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: 45px;
    background-color: white;
    color: black;
    padding: 5px;
    }
    .dropdown5:hover .dropdown-content5 {
    display: block;
    
    }
    
    /*--style header menu bar(Get started)  --*/
    
    .dropdown-content6 {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: 45px;
    background-color: white;
    color: black;
    padding: 5px;
    }
    .dropdown6:hover .dropdown-content6 {
    display: block;
    
    }
  }

  @media screen and (min-width:690px) {  /* screen display 1*/

    .rel-img1{
      display: none;
    }
    
    .center-cont{
    width: 100%;
    height: 100%;
    padding-left: 7rem;
    }
    
    .first-body{
      display: flex;
      height:auto;
      max-width: 100%;
      flex-direction: row;
      background-color: hsl( 110,10%,95%);
      overflow: hidden;
      margin-top: 65px;
    }
    
    .center-cont p{
      width: 95%;
    }
    
    .rel-img{
      width: 20%;
      height: 100%;
      flex-basis: 90%;
    }
    
      h2{
      font-size: 38px;
      color: hsl(0, 0%, 40%);
      word-spacing: 2px;
      letter-spacing: 2px;
      line-height: 3rem;
      }
    
      h3{
      font-size: 45px;
      padding-bottom: 10%;
      }
      
      .h-body{
      font-size: 19px;
      color: hsl(0, 0%, 20%);
      line-height: 1.7rem;
      padding-top: 20%;
      word-wrap: break-word;
      }
      
      input[value="Get Started"]{
      background-image: linear-gradient(120deg,hsl(0, 100%, 60%) 60%,hsl(39, 100%, 50%));
      color: white;
      border: 0.5px solid white;
      padding: 13px 55px;
      font-size: 18px;
      border-radius: 25px;
      text-align: center;
      cursor: pointer;
      }
      input[value="Get Started"]:hover{
      background-image: linear-gradient(120deg,hsl(300, 100%, 35%) 40%,hsl(9, 100%, 60%));
      transition: 2s;
      transition-timing-function: ease-in-out;
      }
      
      .first-input{ 
      display: flex;
      padding-top: 1rem;
      width: 100%;
      }
      
      a[href="#Discorver"]{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 18px;
      padding-left: 3rem;
      color: black;
      }
      .first-input i{
      padding: 7px;
      font-size: 21px;
      }
      .first-input a:link{
      color:black;
      }
      a[ href="#Discorver"]:hover{
      color: hsl(205, 100%, 55%);
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;  
      }
      .circle11{
      background-color: black;
      height: 50%;
      width:50%;
      border-radius: 50%;
      margin: 4px;
      }
    }
    
/*--second-section  --*/

@media screen and (min-width:690px){  /*screen display 2*/

    .main-cont{
      display: flex;
      margin: 100px auto 100px auto;
      }
      .main-para{
      font-size: 31px;
      word-spacing: normal;
      width: 100%;
      }
      .main-para p{
      text-align: center;
      text-align-last: center;
      font-family: 'Open Sans', sans-serif;
      }
      
      .parent{
      position: relative;
      width: 100%;
      }
      
      .main-tab1{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      /* border: 1px solid red; */
      width: 85%;
      height: 40%;
      margin-left: auto;
      margin-right: auto;
      }
      .hot-line{
        padding: 2px;
        width: 100%;
        height: 1%;
        background-image: linear-gradient( to right,hsl(0, 100%, 60%),hsl(300, 100%, 40%) 50%, hsl(210, 100%, 50%) ,hsl(120, 100%, 50%)) ;
      }
      .sub-cont1{
        width: 100%;
        height: 1rem;
      }
      .child{
      display: flex;
      height: 100%;
      width: 70%;
      }
      .child div{
      display: flex;
      margin-left: auto;
      margin-right: auto;
      }
      .child i{
      display: flex;
      border: 3px solid hsla(0, 0%, 75%, .5);
      border-radius: 50%;
      background-color: white;
      padding: 10px;
      align-items: center;
      font-size: 23px;
      position: absolute;
      bottom: 0;
      }
      
      
      .main-tab{
      display: grid;
      margin-left: auto;
      margin-right: auto;
      width: 85%;
      height: 100%;
      }
      .sub-tab{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      height: 100%;
      width: 100%;
      border-right: .2px solid hsla(0, 0%, 75%, .3);
      
      }
      .sub-cont{
      width: 100%;
      height: 100%;
      border-left: .2px solid hsla(0, 0%, 75% ,.3);
      }
      .sub-cont:hover {opacity: 1}
      
      .second-h1{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 17px;
      width: 100%;
      height: 4.5rem;
      }
      .payo-button{
      display: flex;
      margin: 100px auto 50px auto;
      background-color: hsla(0, 0%, 0%,.85);
      color: white;
      border: 0.5px solid white;
      padding: 13px 63px;
      border-radius: 25px;
      margin-left: 37%;
      cursor: pointer;
      font-size: 18px;
      transition: 250ms;
      }
      .payo-button:hover{
      background-color:  hsl(210, 100%, 60%) ;
      }
      .sec-radio{
        color: black;
      }
  }

  /*--Third section  --*/

@media screen and (min-width:690px) {  /*screen display 3*/
  
    .th-body{
      width: 100%;
      height: 100%;
      padding: 60px 100px;
      background-image: linear-gradient(to left bottom, hsl(198, 100%, 97%) 60%,hsl(300, 100%, 99%) );
    }
    .th-arrow{
      position:fixed;
      right: 0;
      bottom:0;
    }
    .th-arrow i{
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      padding: 1em;
      width: 20px;
      height: 20px;
      border: 2px solid white;
      color: #fff;
      background-color: black;
      border-radius: 50%;
    }
    .th-para{
      width: 100%;
      height: 50%;
    }
    .th-para h3{
      text-align: center;
      font-family: sans-serif;
      font-weight: 700px;
      font-size: 31px;
      font-style: normal;
      padding-bottom: 100px;
      padding-top: 50px;
    }
    .Rainbow{
      padding: 1px;
      margin-top: 2%;
      margin-left: 47%;
      height: 4px;
      width: 7%;
      border: 0.5px solid white;
      border-radius: 25px;
      background-image: linear-gradient(to right, red , hsl(300, 100%, 30%), hsl(230, 100%, 70%)); 
    }
    .th-cont{
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: left;
      column-gap: 8px;
      padding: 5px;
      /* border: 1px solid red; */
    
    }
    .th-main{
      /* border: 1px solid red; */
      padding: 20px;
      cursor: pointer;
      border-left: 1px solid hsl(0, 0%, 90%);
      width: 100%; 
    }
    .th-main p{
      width: 100%;
      padding-bottom:15px;
      font-size:16px ;
      font-weight: bold;
    }
    .th-main div{
      padding-bottom: 10px;
      font-size: 14px;
      color: hsl(190, 10%, 20%);
      line-height: 20px;
      width: 78%;
    }
    input[value="Learn more"]{
      background-color: black;
      color: white;
      font-size: 12px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 1px solid white;
      border-radius: 20px;
      padding: 5px 25px;
      cursor: pointer;
    }
    input[value="Learn more"]:hover{
      background-color:  hsl(210, 100%, 60%);
    }
    .th-icon{
      background-image: linear-gradient(to bottom, red , hsl(300, 100%, 30%), hsl(230, 100%, 70%));
      width: 100%;
      
    }
    .th-icon div{
      width: 99.9%;
      background-color: hsl(199, 70%, 97%) ;
      margin-left: 3px;
      padding-left: 10px;
      font-size: 30px;
      color: hsl(210, 100%, 80%);
    }
    
    }

/*--Forth section --*/

@media screen and (min-width:690px) {  /*screen display 4*/

    .f-pagh{
      width: 100%;
      height: 50%;
    }
    .f-pagh h3{
      text-align: center;
      font-family: sans-serif;
      font-weight: 700px;
      font-size: 31px;
      font-style: normal;
      padding-bottom: 150px;
    }
    .f-body{
    width: 100%;
    height: 100%;
    padding: 7% 10% ;
    }
    .f-grid{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    background-color: hsl(0, 0%, 15%);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    align-items: baseline;
    margin: auto;
    }
    .f-head-img{
      display: flex;
      width: 90%;
      height: 100%;
      margin: auto;
    }
    .f-head-img img{
      width: 100%;
      height: 100%;
    }
    .f-cont{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    width: 90%;
    height: 90%;
    }
    .f-head{
      width: 85%;
      display: flex;
      margin:20px auto 0 auto;
    }
    .f-head h3{
    font-size: 24px;
    font-weight: 700;
    }
    .f-para{
    display: flex;
    margin:auto  ;
    width: 85%;
    height: 80%;
    position: relative;
    }
     #f-para1{
    font-size: 17px;
    font-weight: 500;
    line-height:30px ;
    width: 100%;
    
    }
    .f-btn{
      position: absolute;
      bottom: 0;
      right: 0;
    }
    button[type="button"]{
      border: 1px solid white;
      border-radius: 100%;
      padding: 5px;
      color: hsl(0, 0%, 60%);
      font-size: 15px;
      margin-left: 7px;
      cursor: pointer;
    }
    
    .Rainbow1{
      padding: 1px;
      margin-top: 4%;
      margin-left: 47%;
      height: 4px;
      width: 7%;
      border: 0.5px solid white;
      border-radius: 25px;
      background-image: linear-gradient(to right, red , hsl(300, 100%, 30%), hsl(230, 100%, 70%)); 
    }
    
    }

/*--Fifth section  --*/

@media screen and (min-width:690px) {  /*screen display 5*/
  
    .fi-body{
      background-color: rgb(0, 182, 122);
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: auto;
      row-gap: 5px;
    }
    .fi-top{
      background-color: hsl(0, 0%, 95%);
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      padding: 30px 0 80px 0;
    }
    .fi-left h1{
      color: #aaaaaa;
      font-size: 12px;
      transform: translate(0 ,70px);
    }
    .Rainbow2{
      margin-top: 3%;
      transform: scaleY(.1);
      width: 10%;
      background-image: linear-gradient(to right, red , hsl(300, 100%, 30%), hsl(230, 100%, 70%)); 
    }
    .fi-left{
      padding-left: 120px;
    }
    .fi-left strong::before{
      content: '”';
      display: flex;
      font-family:AvenirNextWorld-Regular;
      font-size: 150px; 
      color: #e6e6e6;
      transform: translate(9px,60px);
    }
    .fi-left strong{
      font-size: 31px;
      color: #303030;
      font-weight: 1000;
      
    }
    .fi-left h4{
      color: #252526;
      font-size: 17px;
      padding-top: 40px;
      padding-bottom: 10px;
      }
    .fi-left p{
      font-size: 17px;
      color: #252526;
      padding-bottom: 70px;
      }
    .fi-left div{
      padding: 10px 0;
      font-weight: bold;
      font-size: 18px;
      padding-top:5px ;
      }
    .fi-left i{
      padding: 7px;
      font-size: 21px;
      font-weight: 400px;
    }
    .fi-left a:link{color:black; }
      a[ href="#watch"]:hover{
      color: hsl(204, 100%, 48%);
      transition-duration: 300ms;
      transition-timing-function: ease-in-out;
    }
    
    .fi-right{
      margin-left: 10%;
      width: 100%;
      height: 100%;
    }
    .fi-right div{
      transform: translate(0,80%);
      border: 3px solid white;
      border-radius: 100%;
      width: 37%;
      height: 40%;
      padding: 1px;
      font-size: 16px;
    }
    .fi-right img{
      width: 100%;
      height: 100%;
    }
    .fi-bottom{
      background-color:white;
      width:100%;
      height: 100%;
      padding-top: 50px;
    }
    .fi-cont{
      width: 90%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4,2fr);
      padding: 30px 0 80px 120px;
      /* border: 1px solid blue; */
    }
    .cont-left{
      width: 75%;
      /* border: 1px solid blue; */
    }
    .cont-left h4{
      /* border: 1px solid blue; */
      padding-left: 60px;
      padding-bottom: 15px;
      font-size: 23px;
      color: #252526;
    }
    .star-cont{
      display: flex;
    }
    .fi-star{
      border: 1px solid transparent;
      width: 17%;
    }
    .fi-star i{
      background-color: hsl(160, 100%, 36%);
      padding: 5px 1px 5px 5px;
      font-size: 20px;
      width: 100%;
      height: 100%;
      color: white;
    }.fi-para{
      /* border: 1px solid blue; */
      padding: 5px 0 22px 15px;
    }
    .fi-para a:link{
      text-decoration: underline;
    }
    .fi-links i{
      color: rgb(0, 182, 122) ;
      font-size: 22px;
      padding-left:25px ;
    }
    .fi-links span{
      font-size: 17px;
    }
    .fi-time{
      color:hsl(0, 0%, 55%);
      padding-left: 20px;
      font-size: 10px;
    }
    
    /*-- Right-cont1 --*/
    
    .right-cont1{
      width: 80%;
      padding-left: 20px;
    }
    
    .right-cont1 h4{
      /* border: 1px solid blue; */
      padding: 10px 0;
      font-size: 13px;
      color: #252526;
      font-weight: 700px;
    }
    .star-cont1{
      display: flex;
    }
    .fi-star1{
      border: 1px solid transparent;
      width: 11%;
    }
    .fi-star1 i{
      background-color: rgb(0, 182, 122);
      padding: 3px 1px 2px 4px;
      font-size: 11px;
      width: 100%;
      height: 100%;
      color: white;
    }
    .cont-par1{
      /* border: 1px solid blue; */
      font-size: 13px;
      width: 100%;
    }
    .cont-par1 div{
      padding: 10px 0;
      color:hsl(0, 0%, 55%);
    }
    .cont-par1 a:link{
      text-decoration: underline;
    }
    .fi-links1 i{
      color: rgb(0, 182, 122) ;
      font-size: 22px;
      padding-left:25px ;
    }
    .fi-links1 span{
      font-size: 13px;
      
    }
    .arrow1{
      position: relative;
      bottom: 68%;
      left: 27%;
    }
    .arrow1 i{
      height: 10%;
      width: 23px;
      color: hsl(0, 0%, 50%);
      border: 1px solid hsl(0, 0%, 50%);
      border-radius: 100%;
      padding: 5px 6px;
      font-size:12px ;
    }
    .arrow2{
      position: relative;
      bottom: 80%;
      left:87%;
      color: hsl(0, 0%, 90%);
      padding: 2px 1px 1px 4px;
    }
    .arrow2 i{
      height: 10%;
      width: 23px;
      color: hsl(0, 0%, 50%);
      border: 1px solid hsl(0, 0%, 50%);
      border-radius: 100%;
      padding: 5px 6px;
      font-size:12px ;
    }
    
    /*-- Right-cont2 --*/
    
    .right-cont2{
      width: 80%;
      /* border: 1px solid blue; */
    }
    .right-cont2 h4{
      /* border: 1px solid blue; */
      padding: 10px 0;
      font-size: 13px;
      color: #252526;
      font-weight: 700px;
    }
    .star-cont2{
      display: flex;
    }
    .fi-star2{
      border: 1px solid transparent;
      width: 11%;
    }
    .fi-star2 i{
      background-color: rgb(0, 182, 122);
      padding: 3px 1px 2px 4px;
      font-size: 11px;
      width: 100%;
      height: 100%;
      color: white;
    }
    .cont-par2{
      /* border: 1px solid blue; */
      font-size: 13px;
      width: 100%;
    }
    .cont-par2 div{
      padding: 10px 0;
      color:hsl(0, 0%, 55%);
    }
    
    .cont-par2 a:link{
      text-decoration: underline;
    }
    
    
    
    /*-- Right-cont3 --*/
    .right-cont3{
      width: 80%;
      
    }
    .right-cont3 h4{
      padding: 10px 0;
      font-size: 13px;
      color: #252526;
      font-weight: 700px;
    }
    .star-cont3{
      display: flex;
    }
    .fi-star3{
      border: 1px solid transparent;
      width: 11%;
    }
    .fi-star3 i{
      background-color: rgb(0, 182, 122);
      padding: 3px 1px 2px 4px;
      font-size: 11px;
      width: 100%;
      height: 100%;
      color: white;
    }
    .cont-par3{
      font-size: 13px;
      width: 100%;
    }
    .cont-par3 div{
      padding: 10px 0;
      color:hsl(0, 0%, 55%);
    }
    
    .cont-par3 a:link{
      text-decoration: underline;
    }
      
    
  }
    
/*--Sixth section  --*/

@media screen and (min-width:690px) {  /*screen display 6*/
  
    .six-top{
      background-color: #242526;
      width: 100%;
      height: 100%;
      display: grid;
      margin: auto;
      grid-template-columns: repeat(2,1fr);
    }
    .six-left h1{
      color: white;
      font-size: 12px;
      transform: translate(0 ,70px);
      letter-spacing: 2px;
    }
    .Rainbow2{
      margin-top: 3%;
      transform: scaleY(.1);
      width: 10%;
      background-image: linear-gradient(to right, red , hsl(300, 100%, 30%), hsl(230, 100%, 70%)); 
    }
    .six-bar{
      width: 5%;
      height: 5%;
      transform: scale(.7,.7);
    }
    .six-left{
      width: 80%;
      height:max-content;
      display: flex;
      margin-left: 17% ;
     
    }
    .six-left-ext{
      display: flex;
      flex-direction: column;
      
    }
    .six-left h3{
      font-size: 2rem;
      color:white;
      max-width: 80%;
      height: 90%;
      padding-top: 15%;
      line-height: 1.5;
      font-weight: 1000;
    }
    .six-left h4{
      color: #fff;
      font-weight: 700;
      font-size: 1.1rem;
      padding-bottom: 20px;
      }
    .six-left div{
      padding: 10px 0;
      font-weight: bold;
      font-size: 18px;
      padding-top:5px ;
      }
    .six-left i{
      padding: 7px;
      font-size: 21px;
      font-weight: 400px;
    }
    .bar-app{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      height: 100%;
      width: 100%;
    
    }
    .six-app{
      transform: translateX(-45%);
      margin-right: 50px;
      height: 60%;
      width: 100%;
    }
    .apple{
      background-color: black ;
      display: flex;
      width: calc(40% + 3rem);
      height: calc(15% + 2rem);
      border: .1px solid hsla(0, 0%, 100%,.5);
      border-radius: 7px;
      padding: 5%;
      font-size: 16px;
      margin-block: 5%;
      margin-inline: calc(5% + .5rem);
    }
    .apple i{
      height: 100%;
      font-size: 29px;
      color: white;
      padding: 2px;
      position: relative;
      bottom: -1px;
      left: 5px;
    }
    .apple span{
      font-size: .6rem;
    }
    .apple-cont{
      color: white;
      width: 100%;
      height: 100%;
      line-height: .7;
      position: relative;
      bottom: 6px;
      left: 12px;
    }
    .apple-cont div{
      font-size: 1.1rem;
      /* outline: 2px solid blue; */
    }
    .google{
      background-color: black;
      display: flex;
      border: .4px solid hsla(0, 0%, 100%,.5);
      width: calc(40% + 3.7rem);
      height: calc(15% + 2rem);
      border-radius: 5px;
      margin-block: 0%;
      margin-inline: calc(5% + .5rem);
    }
  
    .google i{
      height: 100%;
      font-size: 30px;
      color: white;
      position: relative;
      bottom: 6px;
    }
    .google-cont{
      color: white;
      width: 100%;
      height: 100%;
      line-height: .7;
      margin-bottom: 5px;
      position: relative;
      bottom: 5px;
      
    }
    .Go-get{
      font-size: .5em;
    }
  
    .google-cont div{
      font-size: 1.1rem;
    }
    
    .six-right{
      display: flex;
      width: 100%;
      height: 100%;
      /* outline: 2px solid red; */
  
     
    }
    .six-right div{
     display: flex;
      width: 50%;
      height: 550px;
      margin-top: 10%;
      margin-left: 5%;
      /* outline: 2px solid red; */
    }
    .six-right img{
      width: 100%;
      height: 100%;
    }
  }
    
/*--seventh section --*/

@media screen and (min-width:690px) {  /*screen display 7*/

    .sevth-body{
      background-image: linear-gradient( to right,hsl(20, 100%, 50%),hsl(300, 100%, 55%),hsl(210, 100%, 60%),hsl(120, 100%, 45%));
      background-color: black;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: auto;
      position: relative;
    
    }
    .sevth-top{
      width: 100%;
      height: 99.5%;
      background-color: white;
      text-align: center;
    
    }
    .sevth h1{
      color: #aaaaaa;
      font-size: 12px;
    }
    .sevth-left h1{
      color: black;
      font-size: 31px;
      margin-top:5% ;
      letter-spacing: 2px;
    }
    .sevth-left div{
      display: flex;
      margin-inline: auto;
    }
    .Rainbow22{
      margin-top: 2.5%;
      transform: scaleY(.1);
      width: 5.5vw;
      height: 3vh;
      background-image: linear-gradient(to right, hsl(210, 100%, 50%),rgb(0, 182, 122) 60%); 
    }
    .sevth-grid{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(10em ,335px));
      gap: 2rem;
      padding: 2% 5% 8% 7%;
      margin-top: 3%;
      /* outline: 2px solid blue; */
    }
    .sevth-grid span{
      position: absolute;
      bottom: 9.5rem;
      left: 35%;
      border-radius: 7px;
      background-color: white;
      padding: 5px 12px;
      font-size: 12px;
    
    }
    .sevth-grid a{
      color:black;
    }
    .sevth-grid a:link{
      text-decoration: none;
    }
    
    .sevth-grid a:hover{
      color: #0092f4;
      transition: 500ms linear;
      transition-delay: none;
    }
    .sevth-div1,.sevth-div2,.sevth-div3{
      width: 100%;
      height: 70%;
      border-radius: 12px;
      position: relative;
      /* outline: 3px solid red; */
      
    }
    .sevth-img{
      height: auto;
      width: 100%;
    }
    .sevth-div1 img,.sevth-div2 img,.sevth-div3 img{
      width: 100%;
      height: 280px;
      border-radius: 7px;
    }
    
    .sevth-div1 p, .sevth-div2 p ,.sevth-div3 p{
      font-size: 22px;
      padding: 25px 15px;
      width: 95%;
    }
    .sevth-bottom{
      background-color:#242526;
      width:100%;
      height: 100%;
      padding-top: 50px;
     
    }
    .sevth-cont{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      padding: 4% 5% 10% 5%;
    }
    
    
    .bot-up p{
      width: 100%;
      text-align: center;
      color: white;
      line-height: 2em;
    }
    .bot-up h1{
      width: 100%;
      text-align: center;
      color: white;
      font-size: 31px;
    }
    .bot-up div{
      width: 100%;
      position: relative;
      left: 42%;
      padding: 5% 0;
    }
    input[value="Get started"]{
      background-image: linear-gradient(to right,hsl(7, 90%, 56%)70% ,hsl(40, 100%, 45%));
      color: white;
      border: .1px solid #242526;
      padding: 13px 55px;
      font-size: 18px;
      border-radius: 25px;
      text-align: center;
      cursor: pointer;
      }
      input[value="Get started"]:hover{
      background-image: linear-gradient(120deg,hsl(300, 100%, 35%) 40%,hsl(9, 100%, 60%));
      transition: 2s;
      transition-timing-function: ease-in-out;
      }
      .sevth-bot-ext{
        display: flex;
        width: 100%;
        height: minmax(auto,350px);
        margin-left: 5%;
        margin-top: 10%;
      }
      .bot-down{
          width: 65%;
          height: 100%;
          display: grid;
          grid-template-columns: repeat(4, minmax(50px,200px));
          /* outline: 5px solid red; */
      }
      .down5 h3{
        color: hsl(10, 0%, 90%);
        font-size: 1.1rem;
      }
      .down5{
      margin-left:2% ;
      width: 30%;
      height: auto;
      display: flex;
      flex-direction: column;
      /* outline: 5px solid red; */
      padding-left: 2%;
      }
  
    .down1{
      width: 100%;
      height: 100%;
    }
    .down2{
      width: 100%;
      height: 100%;
    }
    .down3{
      width: 100%;
      height: 100%;
    }
    .down4{
      width: 100%;
      height: 100%;
    }
   
   
    .down1 div,.down2 div, .down3 div, .down4 div{
      font-size: 17px;
      color: white;
      font-weight: 400px;
      padding-bottom: 12%;
    }
    .down1 ul,.down2 ul, .down3 ul, .down4 ul{
      list-style-type: none;
      width: 100%;
    }
    .down1 li,.down2 li, .down3 li, .down4 li{
      color: hsl(0, 0%, 50%);
      line-height: 2em;
      width: 90%;
    }
    
    .Six-app{
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* outline: 3px solid yellow; */
      margin-top: 7%;
    }
    .apple-google{
      display: flex;
      width: 90%;
      height: 50px;
      justify-content: space-between;
    }
    .Apple{
      background-color: black ;
      display: flex;
      width: calc(38% + 1rem);
      height: calc(10% + 2.2rem);
      border: .1px solid hsla(0, 0%, 100%,0.5);
      border-radius: 7px;
  
    }
    .Apple i{
      display: flex;
      height: 80%;
      width: 20%;
      font-size: 1.7em;
      color: white;
      margin: auto;
      margin-left: 5%;
    }
    .App-down{
      font-size: .6em;
    }
    .Apple-cont{
      display: flex;
      margin: auto;
      color: white;
      width: 100%;
      height: 100%;
    }
    .Apple-cont div{
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 80%;
      margin: auto;
      /* outline: 2px solid blue; */
    
    }
    .App-p{
      font-size: .9rem;
      font-weight: 700;
    }
    .Google{
      background-color: black;
      display: flex;
      border: .1px solid hsla(0, 0%, 100%,0.5);
      width: calc(40% + 1.5rem);
      height: calc(10% + 2.2rem);
      border-radius: 7px;
      margin-right: 5%;
    }
    .Google i{
      display: flex;
      height: 60%;
      width: 20%;
      font-size: 1.3em;
      color: white;
      margin: auto;
      margin-left: 5%;
    }
    .Google-cont{
      display: flex;
      margin: auto;
      color: white;
      width: 100%;
      height: 100%;
      
    }
    .Go-get{
      font-size: .5em;
    }
    .Google-cont div{
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 80%;
      margin: auto;
      /* outline: 2px solid blue; */
    }
    .Go-p{
      font-size: 1em;
      font-weight:700 ;
    }
    
    .foll-social{
      width: 100;
      height: 100%;
      display: flex;
      flex-direction: column;
      line-height: 2.5;
      /* outline: 2px solid blue; */
    }
    #foll{
      font-size: 21px;
      margin-top: 3%;
      color: white;
    }
    #social{
      display: flex;
      color: #242526;
      width: 100%;
      height: 100%;
    }
    #social div{
      /* outline: 2px solid blue; */
      padding: 2%;
      margin-right: 5%;
    }
    #social i{
      border: 1px solid white;
      background-color: white;
      border-radius: 50%;
      padding: 20%;
      align-items: center;
      font-size: 13px;
    }
    .footer{
      background-color: #242526;
      width: 100%;
      color: white;
      display: flex;
      justify-content: space-between;
    }
    .footer h5{
      width: 50%;
      margin-left: 10%;
    }
    .footer ul{
      padding: 0;
      width: 35%;
      list-style: none;
      display: flex;
      flex-direction: row;
    }
    .footer li{
      padding-right: 3%;
      padding-bottom: 10%;
      font-size: .8rem;
      font-weight: 700;
    }
    .footer a{
      text-decoration: underline;
      color: white;
    }
  }
    